page-home {
.body{
    background-image: url(../../assets/imgs/c.PNG);
    background-size: cover;
    background-attachment: fixed;
}
.back{
margin-left: 90px;
margin-bottom:-500px;
font-size:xx-large;
width:50%;

}
.card{
    height:70%;
    width:70%;
    font-size: 1em;
    text-decoration-color: aqua;
}
img{
    border-radius: 50%;
}
.pic{
    margin-left:50px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
}